<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="secrets.local.config">
    <add key="clientId" />
    <add key="clientSecret" />
    <add key="tenantId" />
    <add key="subscriptionIds" />
    <add key="tag_owner" value="Owner"/>
    <add key="tag_deallocate" value="rt.deallocate_vm_at"/>
    <add key="tag_deallocate_days" value="30"/>
    <add key="tag_deletevm" value="rt.delete_vm_at"/>
    <add key="tag_deletevm_days" value="60"/>
    <add key="tag_deleterg" value="rt.delete_rg_at"/>
    <add key="tag_deleterg_days" value="90"/>
  </appSettings>
</configuration>