<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="secrets.local.config">
    <add key="clientId" />
    <add key="clientSecret" />
    <add key="tenantId" />
    <add key="subscriptionIds" />
    <add key="ADALServiceURL" value="https://login.microsoftonline.com"/>
    <add key="ownerTagName" value="Owner"/>    
  </appSettings>
</configuration>